canvas {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  touch-action: none;
}

#allow-microphone {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#ui {
    position: relative;
    width: 100%;
    height: 100%;
}

.ui__dot {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.ui__dot--recording {
    display: block !important;
}

.ui__end {
    position: absolute;
    font-size: 1.5rem;
    z-index: 100;
    top: 2rem;
    left: 2rem;
}